html
  head
    link(rel='stylesheet', href='index.css')
    title awesome-demo-app
  body
    h1 awesome-demo-app
    div.app-version.latest
      p.title 
        b Latest version: 
        = latest.name
      ul
        each file in latest.files
          li: a(href=`/files/${latest.name}/${file}`)= file
    unless versions.length == 0
      div 
        h3 Older versions:    
        each version in versions
          div.app-version
            p.title= version.name
            ul
              each file in version.files
                li: a(href=`/files/${version.name}/${file}`)= file
